<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easyexam.apps.dao.ExaminationRoomDao">
    <resultMap id="ExaminationRoomMap" type="com.easyexam.apps.entity.ExaminationRoom" autoMapping="true">
        <id property="id" column="id"></id>
        <result property="roomName" column="room_name"></result>
        <result property="joinPeopleNum" column="join_people_num"></result>
        <result property="totalPeopleNum" column="total_people_num"></result>
        <result property="address" column="address"></result>
        <result property="subjectId" column="subject_id"></result>
        <result property="invigilateId" column="invigilate_id"></result>
        <result property="beginTime" column="begin_time"></result>
        <result property="endTime" column="end_time"></result>
        <result property="paperId" column="paper_id"></result>

        <association property="subject" javaType="com.easyexam.apps.entity.Subject" autoMapping="true">
            <id property="id" column="id"></id>
            <result property="name" column="sname"></result>
        </association>

        <collection property="paper" javaType="com.easyexam.apps.entity.Paper" autoMapping="true">
            <id property="id" column="id"></id>
            <result property="name" column="pname"></result>
            <result property="createTime" column="create_time"></result>
            <result property="subjectId" column="subject_id"></result>
            <result property="checkId" column="check_id"></result>
            <result property="makeId" column="make_id"></result>
            <result property="level" column="level"></result>

        </collection>


        <collection property="invigilate" javaType="com.easyexam.apps.entity.User" autoMapping="true">
            <id property="uid" column="uid"></id>
            <result property="name" column="uname"></result>
            <result property="password" column="password"></result>
        </collection>


    </resultMap>
    <!--考场-->


    <select id="findAllExaminationRoom" resultMap="ExaminationRoomMap" >
    SELECT examination_room.id ,examination_room.room_name ,
    examination_room.join_people_num  ,examination_room.total_people_num ,
    examination_room.address,  subject.name sname,
    p_user.name uname,   examination_room.begin_time,
    examination_room.end_time  ,  paper.name  pname ,paper.level
    from examination_room
    INNER JOIN subject on examination_room.subject_id = subject.id
    INNER JOIN  p_user  on examination_room.invigilate_id = p_user.uid
    INNER JOIN paper on examination_room.paper_id = paper.id
    </select>

    <select id="findOneExaminationRoom" resultMap="ExaminationRoomMap">
      SELECT examination_room.id ,examination_room.room_name ,
      examination_room.join_people_num  ,examination_room.total_people_num ,
      examination_room.address,  subject.name sname,
      p_user.name uname,   examination_room.begin_time,
      examination_room.end_time  ,  paper.name  pname ,paper.level
      from examination_room
    where  examination_room.id=#{id}
    </select>

    <update id="updateExaminationRoom" parameterType="ExaminationRoom">
    update examination_room
    set room_name=#{roomName},join_people_num=#{joinPeopleNum},
    total_people_num=#{totalPeopleNum},address=#{address},
    subject_id=#{subjectId},invigilate_id=#{invigilateId},
    begin_time=#{beginTime},end_time=#{endTime},
    paper_id=#{paperId}
    where id=#{id}
    </update>

    <delete id="deleteExaminationRoom" parameterType="int">
        delete from  examination_room where id=#{id}
    </delete>


</mapper>