<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easyexam.apps.dao.QuestionManageDao">
    <resultMap id="singleChooseMap" type="com.easyexam.apps.entity.QuesSingleChoose">
        <id property="id" column="id"></id>
        <result property="question" column="question"></result>
        <result property="chooseA" column="choose_a"></result>
        <result property="chooseB" column="choose_b"></result>
        <result property="chooseC" column="choose_c"></result>
        <result property="chooseD" column="choose_d"></result>
        <result property="chooseE" column="choose_e"></result>
        <result property="chooseF" column="choose_f"></result>
        <result property="answer" column="answer"></result>
        <result property="tag" column="tag"></result>
        <result property="subjectId" column="subject_id"></result>
        <result property="level" column="level"></result>
        <association property="subject" javaType="com.easyexam.apps.entity.Subject">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
        </association>
    </resultMap>
    <!--单选-->

    <select id="findAllQuesSingleChoose" resultMap="singleChooseMap" >
    select qsc.id,qsc.question,qsc.choose_a,qsc.choose_b,qsc.choose_c,qsc.choose_d,qsc.choose_e,qsc.choose_f
    ,qsc.answer,qsc.tag, qsc.level,sub.name
    from q_single_choose qsc
    LEFT JOIN subject sub
    on qsc.subject_id =sub.id;
    </select>
    <resultMap id="MultipleChooseMap" type="com.easyexam.apps.entity.QuesMultipleChoose">
        <id property="id" column="id"></id>
        <result property="question" column="question"></result>
        <result property="chooseA" column="choose_a"></result>
        <result property="chooseB" column="choose_b"></result>
        <result property="chooseC" column="choose_c"></result>
        <result property="chooseD" column="choose_d"></result>
        <result property="chooseE" column="choose_e"></result>
        <result property="chooseF" column="choose_f"></result>
        <result property="answer" column="answer"></result>
        <result property="tag" column="tag"></result>
        <result property="subjectId" column="subject_id"></result>
        <result property="level" column="level"></result>
        <association property="subject" javaType="com.easyexam.apps.entity.Subject">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
        </association>
    </resultMap>
    <select id="findAllQuesMultipleChoose" resultMap="MultipleChooseMap">
select qmc.id,qmc.question,qmc.choose_a,qmc.choose_b,
qmc.choose_c,qmc.choose_d,qmc.choose_e,qmc.choose_f
,qmc.answer,qmc.tag, qmc.level,sub.name
from q_multiple_choose qmc LEFT JOIN subject sub
on qmc.subject_id =sub.id;
    </select>
    <resultMap id="QuesJudgeMap" type="com.easyexam.apps.entity.QuesJudge">
        <id property="id" column="id"></id>
        <result property="question" column="question"></result>
        <result property="answer" column="answer"></result>
        <result property="subjectId" column="subject_id"></result>
        <result property="level" column="level"></result>
        <result property="tag" column="tag"></result>
        <association property="subject" javaType="com.easyexam.apps.entity.Subject">
            <id property="id" column="id"></id>
            <result property="name" column="name"></result>
        </association>
    </resultMap>

    <select id="findAllQuesJudge" resultMap="QuesJudgeMap">
    select qj.id,qj.question
    ,qj.answer,qj.tag, qj.level,sub.name
    from q_judge qj LEFT JOIN subject sub
    on qj.subject_id =sub.id;
    </select>



</mapper>