<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.easyexam.apps.dao.StudentManageDao">
    <resultMap id="studentMap" type="com.easyexam.apps.entity.StudentPaper" >
        <id property="id" column="id"></id>
        <result property="stuId" column="stu_id"></result>
        <result property="roomId" column="room_id"></result>
        <result property="score" column="score"></result>
        <result property="paperQues" column="paper_ques" typeHandler="com.easyexam.apps.config.MySqlJsonHandler"/>
        <association property="student" javaType="com.easyexam.apps.entity.Student" autoMapping="true">
            <id property="id" column="id"></id>
            <result property="name" column="stuName"></result>
            <result property="idCard" column="id_card"></result>
            <result property="password" column="password"></result>
            <result property="phone" column="phone"></result>
            <result property="sex" column="sex"></result>
            <result property="candidateNumber" column="candidate_number"></result>
            <result property="rdesc" column="rdesc"></result>

        </association>
        <association property="room" javaType="com.easyexam.apps.entity.ExaminationRoom" >
            <id property="id" column="id"></id>
            <result property="roomName" column="room_name"></result>
        </association>

    </resultMap>




    <resultMap id="stuMap" type="com.easyexam.apps.entity.Student" autoMapping="true">
        <!--        <id property="id" column="id"></id>-->
        <!--        <result property="name" column="stuName"></result>-->
        <!--        <result property="idCard" column="id_card"></result>-->
        <!--        <result property="password" column="password"></result>-->
        <!--        <result property="phone" column="phone"></result>-->
        <!--        <result property="sex" column="sex"></result>-->
        <!--        <result property="candidateNumber" column="candidate_number"></result>-->
        <!--        <result property="rdesc" column="rdesc"></result>-->

    </resultMap>



    <!--考场-->
    <select id="findAllExaminee" resultMap="studentMap" >
SELECT
student.id,
student.`name` stuName,
student.id_card,
student.phone,
student.sex,
student.candidate_number,
examination_room.room_name,
student_paper.score,
student_paper.paper_ques,
p_role.rdesc
FROM
student

left JOIN student_role
on EasyExam.student_role.student_id=EasyExam.student.id
left JOIN p_role
on EasyExam.p_role.rid =EasyExam.student_role.role_id
left JOIN student_paper
on EasyExam.student.id =EasyExam.student_paper.stu_id
left JOIN examination_room
on EasyExam.examination_room.id =EasyExam.student_paper.room_id
where p_role.rid=3

</select>
    <select id="findOneExaminee" resultMap="studentMap">
    SELECT
    student.id,
    student.`name` stuName,
    student.id_card,
    student.phone,
    student.sex,
    student.candidate_number,
    examination_room.room_name,
    student_paper.score,
    student_paper.paper_ques,
    p_role.rdesc
    FROM student
    left JOIN student_role
    on EasyExam.student_role.student_id=EasyExam.student.id
    left JOIN p_role
    on EasyExam.p_role.rid =EasyExam.student_role.role_id
    left JOIN student_paper
    on EasyExam.student.id =EasyExam.student_paper.stu_id
    left JOIN examination_room
    on EasyExam.examination_room.id =EasyExam.student_paper.room_id
    where p_role.rid=3 and student.id=#{stuId}
    </select>

    <select id="findAllExamineeId" resultMap="stuMap">
        select id ,name ,phone ,id_card from student
    </select>


    <update id="updateExaminee" parameterType="com.easyexam.apps.entity.Student">
    UPDATE student set student.name=#{name} ,
    student.`password`=#{password},
    student.phone=#{phone},student.sex=#{sex} WHERE student.id =#{id}
    </update>

    <insert id="addExaminee" parameterType="com.easyexam.apps.entity.Student" keyProperty="id" useGeneratedKeys="true">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            select  last_insert_id()
        </selectKey>
        INSERT into student (student.name ,student.id_card ,student.phone,student.`password`,student.sex,candidate_number)VALUES(#{name},#{idCard},#{phone},#{password},#{sex},#{candidateNumber})
    </insert>
    <insert id="addExamineeRole" parameterType="com.easyexam.apps.entity.StudentRole" >

    INSERT INTO student_role (student_role.student_id,student_role.role_id)VALUES(#{studentId},#{roleId})
    </insert>

    <select id="findExaminationSite" resultType="int" parameterType="string">
    select id FROM examination_room where room_name=#{roomName} and begin_time=#{beginTime} and end_time=#{endTime}
    </select>
    <select id="findExaminationPeopleNum" resultType="com.easyexam.apps.entity.ExaminationRoom" parameterType="int">
        SELECT join_people_num ,total_people_num from  examination_room where id =#{id}
    </select>

    <insert id="addExamineeJoinExam" parameterType="map">
        insert into student_room (rid,sid) values (#{rid},#{sid})
    </insert>

    <update id="updateJoinExamNum" parameterType="int">
     update examination_room set join_people_num=#{joinPeopleNum}+1 where id=#{id}
    </update>
    <select id="findExaminationId" resultType="com.easyexam.apps.entity.StudentRoom" parameterType="int">
        select rid from student_room where sid =#{sid}
    </select>

</mapper>