<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.easyexam.apps.dao.UserDao">
    <select id="findAllUser" resultType="com.easyexam.apps.entity.User">
        select * from p_user
    </select>

    <delete id="deleteUser" >
        delete from p_user where uid = #{uid} and uid != 1
    </delete>

    <delete id="deleteUserRole" >
        delete from p_user_role where uid = #{uid}
    </delete>

    <update id="updateUser">
        update p_user set name=#{name}, password=#{password}, age=#{age}, sex=#{sex},
        position=#{position}, remark=#{remark} where uid=#{uid}
    </update>

    <select id="findUser" resultType="com.easyexam.apps.entity.User">
        select * from p_user where uid = #{uid}
    </select>


</mapper>