<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>开始使用layui</title>
	<link rel="stylesheet" href="layui/css/layui.css">
</head>

<body class="layui-layout-body">

<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
		<button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
		<button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
	</div>
</script>

<script type="text/html" id="barDemo">
	<a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script src="layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
	layui.use('table', function() {
		var table = layui.table;

		table.render({
			elem: '#test',
			url: 'http://127.0.0.1:8080/easyExam/Examinee/findAll',
			toolbar: '#toolbarDemo' ,//开启头部工具栏，并为其绑定左侧模板
			page: true,
			defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
				title: '提示',
				layEvent: 'LAYTABLE_TIPS',
				icon: 'layui-icon-tips',

			}],
			title: '用户数据表',
			cols: [
				[{
					type: 'checkbox',
					fixed: 'left',
					align: 'center'
				}, {
					field: 'num',
					title: '序号',
					type: 'numbers',
					align: 'center'
				}
					// , {
					// 	field: 'id',
					// 	title: 'ID',
					// 	fixed: 'left',
					// 	unresize: true,
					// 	sort: true,
					// 	// hide: true,
					// 	align: 'center'
					// }
					, {
					field: 'name ',
					title: '学生姓名',
					sort: true,
					templet: '<div>{{d.student.name}}</div>',
					align: 'center'
				}, {
					field: 'idCard ',
					title: '身生份证号',
					sort: true,
					templet: '<div>{{d.student.idCard}}</div>',
					align: 'center'
				}, {
					field: 'phone ',
					title: '手机号',
					sort: true,
					templet: '<div>{{d.student.phone}}</div>',
					align: 'center'
				}, {
					field: 'sex ',
					title: '性别',
					sort: true,
					templet: '<div>{{d.student.sex}}</div>',
					align: 'center'
				}, {
					field: 'candidateNumber ',
					title: '考生信息',
					sort: true,
					templet: '<div>{{d.student.candidateNumber}}</div>',
					align: 'center'
				}, {
					field: 'rdesc',
					title: '角色描述',
					templet: '<div>{{d.student.rdesc}}</div>',
					align: 'center'
				}, {
					field: 'roomName',
					title: '考场',
					templet: '<div>{{d.room.roomName}}</div>',
					align: 'center'
				}, {
					field: 'score',
					title: '成绩',
					edit: 'text',
					align: 'center'
				}, {
					field: 'paperQues',
					title: '试卷内容',
					edit: 'text',
					sort: true,
					align: 'center'
				}]
			],

		});

		//头工具栏事件
		table.on('toolbar(test)', function(obj) {
			var checkStatus = table.checkStatus(obj.config.id);
			switch (obj.event) {
				case 'getCheckData':
					var data = checkStatus.data;
					layer.alert(JSON.stringify(data));
					break;
				case 'getCheckLength':
					var data = checkStatus.data;
					layer.msg('选中了：' + data.length + ' 个');
					break;
				case 'isAll':
					layer.msg(checkStatus.isAll ? '全选' : '未全选');
					break;

					//自定义头工具栏右侧图标 - 提示
				case 'LAYTABLE_TIPS':
					layer.alert('这是工具栏右侧自定义的一个图标按钮');
					break;
			};
		});

		//监听行工具事件
		table.on('tool(test)', function(obj) {
			var data = obj.data;
			//console.log(obj)
			// var layEvent = obj.event;
			// var quesId = $("#quesId").val();
			console.log(data);
			if (obj.event === 'del') {
				layer.confirm('真的删除行么', function(index) {
					obj.del();
					layer.close(index);
				});
			} else if (obj.event === 'edit') {
				layer.prompt({
					formType: 2,
					value: data.email
				}, function(value, index) {
					obj.update({
						email: value
					});
					layer.close(index);
				});
			}
		});
	});
</script>

</body>

</html>
