<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>考试报名</title>
  <link rel="stylesheet" href="layui/css/layui.css">
</head>

<body class="layui-layout-body">

<table class="layui-hide" id="test" lay-filter="test"></table>

<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
    <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
  </div>
</script>

<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="edit">立即报名</a>
</script>

</body>
<script src="layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
  layui.use('table', function() {
    var layer = layui.layer
            // , form = layui.form

            ,
            table = layui.table,
            element = layui.element; //元素操作

    // var bo = $("#quesId").val();
    table.render({
      elem: '#test',
      url: 'examinationRoom/findAll',
      toolbar: '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板
      page: true,
      defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
        title: '提示',
        layEvent: 'LAYTABLE_TIPS',
        icon: 'layui-icon-tips'
      }],
      title: '用户数据表',
      cols: [
        [{
          type: 'checkbox',
          fixed: 'left',
          align: 'center'
        }, {
          field: 'num',
          title: '序号',
          align: 'center',
          type: 'numbers'
        }, {
          field: 'id',
          title: 'ID',
          align: 'center',
          unresize: true,
          hide: true,
          sort: true
        }, {
          field: 'roomName',
          title: '考场',
          align: 'center',
          edit: 'text',
          sort: true
        }, {
          field: 'joinPeopleNum',
          title: '已报人数',
          align: 'center',
          edit: 'text',
          sort: true
        }, {
          field: 'totalPeopleNum',
          title: '人数上限',
          align: 'center',
          edit: 'text',
          sort: true
        }, {
          field: 'address',
          title: '考场地址',
          align: 'center',
          edit: 'text',
          sort: true
        }, {
          field: 'beginTime',
          title: '开始时间',
          align: 'center',
          sort: true
        }, {
          field: 'endTime',
          title: '结束时间',
          align: 'center',
          sort: true
        },
          {
            field: 'name ',
            title: '科目',
            align: 'center',
            sort: true,
            templet: '<div>{{d.subject.name}}</div>',

          },{
          field: 'name',
          title: '监考老师',
          align: 'center',
          sort: true,
          templet: '<div>{{d.invigilate.name}}</div>'

        },{
          fixed: 'right',
          title: '报名',
          toolbar: '#barDemo',
          align: 'center',
          sort: true,
        }
        ]
      ],
      // page: true
    });

    //头工具栏事件
    table.on('toolbar(test)', function(obj) {
      var checkStatus = table.checkStatus(obj.config.id);
      switch (obj.event) {
        case 'getCheckData':
          var data = checkStatus.data;
          layer.alert(JSON.stringify(data));
          break;
        case 'getCheckLength':
          var data = checkStatus.data;
          layer.msg('选中了：' + data.length + ' 个');
          break;
        case 'isAll':
          layer.msg(checkStatus.isAll ? '全选' : '未全选');
          break;

              //自定义头工具栏右侧图标 - 提示
        case 'LAYTABLE_TIPS':
          layer.alert('这是工具栏右侧自定义的一个图标按钮');
          break;
      };
    });

    //监听行工具事件
    table.on('tool(test)', function(obj) {
      var data = obj.data;

      var layEvent = obj.event;
      alert(layEvent);
      // var quesId = $("#quesId").val();
      console.log(data);
      if (layEvent === 'del') {
        alert("123");
        layer.confirm('真的删除行么', function(index) {



          $.ajax({
            type: 'post',
            url: "http:localhost:8080/easyExam/examinationRoom/delete",
            data: {
              "id": data.id
            },
            // dataType: "json",
            success: function(data) {
              if (data.code == 1018) {

                layer.close(index);
                // table组件重新渲染
                layer.msg("删除成功");
                table.reload("text");
              } else {
                layer.msg("删除失败");
              }
            }
          })
        });
      } else if (obj.event === 'edit') {
        layer.prompt({
          formType: 2,
          value: data.email
        }, function(value, index) {
          obj.update({
            email: value
          });
          layer.close(index);
        });
      }
    });
  });
</script>





</html>